.tile {
display: block;
background-color: black;
cursor: pointer;
}

.inner-tile {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 95%;
height: 95%;
position: relative;
}

.lower-third {
position: absolute;
background-color: black;
color: aliceblue;
bottom: 0;
left: 0;
right: 0;
padding: 6px 8px;
text-align: center;
}

.tile-selected {
    border: 5px solid red;
    
}